<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
        <add key="local" value="packages" />
    </packageSources>
</configuration>

        <!-- Adding a feed with a username / password can be done by doing the following your terminal: nuget.exe sources add -Name "MyExample" -Source "XXX" -username "Y" -password "Z" -configFile nuget.config -->